// Define typography
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}
body {
	background: $color-bg-primary;
}

* {
	box-sizing: border-box;
}
section, footer, header {
	margin-top: $gutter-section;
	width: 100%;
}

.card {
	border-radius: 0;
	padding: $gutter-sm;
}
img {
	max-width: 100%;
}
// Vertically center anything
%vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid {
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	color: $color-font-secondary;
}