/*this is all specific to to home.php page*/
.blog-overlay {
	max-height: 200px;
	.overlay-text {
		height: 100%;
		h2,h4 {
			color: $color-accent-primary;
		}
	}
}

.blog-container {
	display: flex;
	flex-flow: column wrap;
	@media screen and (min-width: $br-lg) {
		flex-flow: row wrap;
	}
}
.blog-post {
	margin: 0;
	background: $color-bg-content;
	&:first-child {
		flex: 1 per-line(1);
		.blog-img {
			float: right;
			margin-bottom: 1rem;
		}
	}
	@extend %divider-border;
	@media screen and (min-width: $br-lg) {
		flex: 1 per-line(2);
		margin: $gutter;
	}
}
.post-header{
	padding: $gutter-section $gutter-sm 0 $gutter-sm;
	h2 {
		color: $color-font-primary;
	}
}
.post-body {
	padding: $gutter-sm $gutter-sm 0 $gutter-sm;
}