header {
	background: $color-bg-content;
	display: flex;
	align-items: flex-end;
	flex-flow: column nowrap;
	.site-heading {
		margin-right: 10px;
		display: inline-block;
		margin-left: auto;
	}
	.flex {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		padding: 20px;
		align-items: center;
		border-bottom: 5px solid #ffa500;
	}
}
.overlay {
	background: url('images/waves.jpg');
}