header {
	margin-top: 0;
	background: $color-bg-content;
	margin-bottom: $gutter-section;
	display: flex;
	align-items: flex-end;
	flex-flow: column nowrap;
	.site-heading {
		margin-right: 10px;
		display: inline-block;
		margin-left: auto;
		color: $color-font-primary;
	}
	.flex {
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
		padding: 20px;
		align-items: center;
		border-bottom: 5px solid #ffa500;
	}
}
.overlay {
	width: 100%;
	color: $color-font-secondary;
	height: 100vh;
	max-height: 600px;
	background: #ffffff url("../images/waves-sm.jpg") no-repeat center / cover;
	@media screen and (min-width: $br-lg) {
		background: #ffffff url("../images/waves-lg.jpg") no-repeat center / cover;
	}	
}
.user-image {
	height: 207px;
	text-align: center;
	margin-top: 10px;
	img {
		max-width: 100%;
		max-height: 100%;
		border-radius: 50%;
		border: 5px solid $color-accent-primary;
	}
}
.user-info {
	text-align: center;
}
.down-arw {
	width: 33%;
	height: 33%;
	max-width: 100px;
	display: block;
	margin: 0 auto;
	img {
		max-width: 100%;
		max-height: 100%;
		fill: $color-font-secondary;
	}
}