main {
	display: flex;
	flex-flow: column nowrap;
	@media screen and (min-width: $br-lg) {
		flex-flow: row wrap;
	}
}

/* About section*/
.about-box-nav{
	@media screen and (min-width: $br-lg) {
		flex: 1 per-line(2);
	}
	@extend %nav;
	background: $color-bg-secondary;
	ul {
		align-items: flex-start;
		justify-content: flex-start;
		flex-flow: row wrap;
	}
	li a {
	    color: $color-font-secondary;
	}
}
//about section
.about {
	margin-top: $gutter-section;
	@media screen and (min-width: $br-lg) {
		flex-basis: 50%;
		margin-right: $gutter;
	}
}
.about-box {
	h4 {
		color: $color-font-primary;
	}
	.about-subject {
		padding: $gutter;
		display: none;
	}
	.code {
		display: block;
	}
}
.skills {
	@media screen and (min-width: $br-lg) {
		flex: 1 per-line(2);
		margin-left: $gutter;
	}
}
/*Skills section */
.skills-card {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	.skill {
		border: 3px solid $color-accent-primary;
		padding: 5px;
		display: inline-block;
		flex: 1 per-line(2);
		margin: $gutter;
		text-align: center;
		@media screen and (min-width: $br-med) {
			flex: 1 per-line(3);
		}
	}
}

/*portfolio section*/
.portfolio {
	max-width: 100%;
}
.project {
	height: 695px;
	h4 {
		color: $color-font-primary;
	}
	img {
		width: 100%;
		max-width: 100%;
		border: 3px solid $color-accent-primary;
	}
}
.button-holder {
	align-self: flex-end;
	display: flex;
	flex-flow: row nowrap;
	a {
		display: inline-block;
		flex: 1 per-line(2);
		margin: $gutter;
	}
}
.portfolio-btn {
	border: solid 2px $color-accent-primary;
	background: $color-bg-primary;
	text-decoration: none;
	&:hover {
		font-weight: bold;
	}
}

/*blog section*/
article {
	h3 {
		color: $color-font-primary;
	}
	.byline {
		font-size: 0.8em;
	}
}

/*contact section */
.contact-holder {
	margin: 0 auto;
	position: fixed;
	height: 54px;
	width: 100%;
	@extend %nav;
	bottom: 0;
	background: $color-bg-primary;
	width: 100%;
	ul {
		width: 100%;
		margin-right: $gutter;
		justify-content: flex-end;
	}
	li {
		
	}
	i {
		font-size: 1.8em;
		color: $color-accent-primary;
	}
}

/*footer*/
footer {
	.copyright {
		color: $color-font-secondary;
	}
}