.section-heading {
	border-bottom: 3px solid $color-accent-primary;
}
.section-description {
	color: $color-font-secondary;
	background: $color-bg-secondary;
	margin-bottom: 0;
	padding: $gutter-sm $gutter-sm 1.25rem $gutter-sm;
}
a {
	color: $color-accent-primary;
	text-decoration: underline;
	&:hover {
		font-weight: bold;
	}
}
.active-nav {
	font-weight: bold;
}