
html {
  font: $font-style $font-variant $font-weight #{$font-size}/#{$line-height} $font-family;
}
.section-heading {
	border-bottom: 3px solid $color-accent-primary;
}
.section-description {
	color: $color-font-secondary;
	background: $color-bg-secondary;
	margin-bottom: 0;
	padding: $gutter-sm $gutter-sm 1.25rem $gutter-sm;
}
a {
	transition: font-weight .1s linear;
	color: $color-accent-primary;
	&:hover {
		font-weight: bold;
		color: $color-accent-primary;
		text-decoration: underline;
	}
}
.active-nav {
	font-weight: bold;
}