// Typography

$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #222;
$font-size: 1rem;
$line-height: 1.5;
$font-family: Helvetica Neue, Helvetica, Arial, sans-serif;


//colors
$color-accent-primary: #ffa500; //orange
$color-bg-primary: #252525; //almost black
$color-bg-content: #fefefe; //white;
$color-bg-secondeary: #020202; //black;